* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*
.container {
    width: 1224px;
    margin: 0 auto;
} */

body {
    font-family: Arial, sans-serif;
}

.best-sellers {
    margin-top: 88px;
}

.best-sellers-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.sellers-title {
    font-size: 32px;
    font-weight: 600;
}

.view-all {
    font-size: 14px;
    font-weight: 400;
    color: #5A6D57;
    text-decoration: none;
}

.product-div {
    display: flex;
    justify-content: space-between;
}

.product-card {
    padding-right: 20px;
    text-align: center;
    position: relative;

    &:last-child {
        padding-right: 0px;
    }
}


.sellers-subtitle {

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;

    margin: 10px 0 5px;
}

.sellers-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;

}


.color-options {
    display: flex;
    gap: 8px;
    margin-top: 8px;

}

.color-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
}
.heart-icon-div {
    position: absolute;
    top: 20px;
    right: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 25px;
    border: none;
    border-radius: 10px;
    background-color: rgba(41, 0, 0, 0);
    cursor: pointer;
}

.svg-sbest-path {
    fill: white;
    transition: fill 0.1s ease-in;
    stroke: black; 
    stroke-width: 2px; 
    stroke-linejoin: round; 
}

#heart-checkbox:checked + label .svg-sbest-path {
    fill: rgb(172, 57, 57); 
}

#heart-checkbox-2:checked + label .svg-sbest-path {
    fill: rgb(172, 57, 57); 
}



#heart-checkbox-3:checked + label .svg-sbest-path {
    fill: rgb(172, 57, 57); 
}

.color-black {
    background-color: #0C0C0C;
}

.color-blue {
    background: #7DC3EB;
}

.color-green {
    background: #748C70;
}

.color-purple {
    background: #D0A5EA;

}

.color-olive {
    background: #909225;

}

.color-blue-dark {
    background: #19418E;
}

.color-beige {
    background-color: #D3B48F;
}

.img-produ-card {
    width: 100%;
}

.selers-div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
        margin: 0;
        color: #0C0C0C;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 22.4px;
        text-align: left;

    }
    p {
        margin: 0;
    }
}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
   
  }
  
  /* Medium: 768px - 991px */
  @media (max-width: 991px) {
    .product-div{
        flex-wrap: wrap;
        gap: 20px;
    }

    .product-card{
        width: 48%;
        padding: 0;
    }
  }
  
  /* Small: 576px - 767px */
  @media (max-width: 767px) {
   
  }
  
  /* Extra small: 0px (320px) - 575px */
  @media (max-width: 575px) {
    .product-card{
        width: 47%;
    }
   
  }
