 .title-collection{
display: flex;
justify-content: flex-start;
font-family: Montserrat;
font-size: 32px;
font-weight: 600;
line-height: 44.8px;
text-align: left;
margin-bottom: 24px;

 }

 .collection-section{
    margin-top: 88px;
    margin-bottom: 88px;
 }

 .col{
   height: 600px;
 }