.followus_container{
    width: 1224px;
    padding: 0 15px;
    margin: 0 auto;
}

.follow_title{
margin-bottom: 24px;
color: #0C0C0C;
    font-family: Gill Sans MT;
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    text-align: left;
    padding: 0;
    margin: 0;
}
  .follow_grid{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr 1fr;
width: 1224px;
height: 751px;

& > *:first-child{
grid-column: span 2;
grid-row: span 2;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  }                  