.followus_container {
    width: 1224px;
    padding: 0 1px;
    margin: 0 auto;
}
.follow_div{
    padding: 88px;
}
.follow_title {
    margin-bottom: 24px;
    color: #0C0C0C;
    font-family: Gill Sans MT;
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    text-align: left;
    padding: 0;
    margin: 0;
}

.follow_grid_right {
    width: 50%;
}

.follow_grid_left {
    width: 50%;
}

.follow_grid {
    padding-top: 24px;
    width: 100%;
    display: flex;
}

.follow_grid_left img {

    width: 100%;
    object-fit: cover;
}

.follow_grid_right img {
    width: 49%;
    height: 50%;
    object-fit: cover;
}