.header__container {
    width: 1224px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-box {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 47px;
}

ul {
    list-style: none;
}

.collect-a {
    text-decoration: none;
    color: currentColor;
}

.notification-bar {
    width: 100%;
    background-color: #5a6d57;
    display: flex;
    justify-content: center;

    .notification-bar__text {
        margin: 0;
        padding-top: 8px;
        padding-bottom: 7px;
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 600;
        line-height: 14.63px;
        letter-spacing: 0.800000011920929px;
        text-align: center;
    }
}

.header {
    margin: 0;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 18px;
    z-index: 600;
}

.header__logo-box {
    text-align: center;
    z-index: 1000;
}

.header__logo-text {
    color: #404040;
    font-family: League Spartan;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.5px;
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 8px;
    margin: 0;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    padding: 0;
    margin: 0;
}

.header__nav-item {
    color: #404040;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: center;
    padding-right: 30px;

    &:last-child {
        padding-right: 0px;
    }
}

.header__svg-box {
    display: flex;
    align-items: center;
}

.header__svg-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.header__svg-item {
    padding-right: 26px;

    &:last-child {
        padding-right: 0px;
    }
}

.search__svg {
    width: 18px;
    height: 18px;

    .search__svg-path1 {}
}

.profile__svg {
    width: 18px;
    height: 18px;

    .profile__svg-path1 {}

    .profile__svg-path2 {}
}

.heart__svg {
    width: 18px;
    height: 18px;

    .heart__svg-path1 {
        fill: #FFFFFF;
    }
}

.package__svg {
    width: 18px;
    height: 18px;
}



.header__nav-item--dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    background-color: white;
    padding: 20px;
    z-index: 500;
    width: 100vw;
    border: none;
    padding-top: 60px;
    padding-bottom: 61px;
}


.header__nav-item--dropdown:hover .dropdown-menu {
    display: flex;
    justify-content: center;
    padding-right: 30px;
}

.dropdown-content {
    display: flex;
}

.dropdown-category,
.dropdown-featured,
.dropdown-more {
    display: flex;
    flex-direction: column;
}


.header__nav-item {
    height: 40px;
    display: flex;
    align-items: center;
}

.dropdown-img1 {
    padding-left: 50px;
}

.dropdown-category {
    padding-right: 24px;
}

.dropdown-featured {
    padding-right: 104px;
}

.dropdown-featured-2 {
    padding-right: 180px;
}

.dropdown-more {
    padding-right: 54px;
}

.dropdown-img1 {
    padding-right: 24px;

    p {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: left;

    }
}

.dropdown-img2 {
    p {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: left;

    }
}

.header__nav-item:hover,
.dropdown-menu {
    box-shadow: 0px 400px 10000px rgba(0, 0, 0, 0.589);
}

.header__nav-item:hover,
.dropdown-menu-2 {
    box-shadow: 0px 400px 10000px rgba(0, 0, 0, 0.589);
}



.dropdown-menu-2 {
    display: none;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    background-color: white;
    padding: 20px;
    z-index: 500;
    width: 100vw;
    border: none;
    padding-top: 60px;
    padding-bottom: 58px;
}

.header__nav-item--dropdown:hover .dropdown-menu-2 {
    display: flex;
    justify-content: center;
    text-align: left;
    padding-right: 28px;
}

.dropdown-category a,
.dropdown-featured a,
.dropdown-more a {
    color: #404040;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    margin-bottom: 8px;
}

.dropdown-category a:hover,
.dropdown-featured a:hover,
.dropdown-more a:hover {
    color: #0b441c;
}

.caterw {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    color: #0C0C0C;
}

.dropdown-img2-2 {
    padding-right: 24px;
}

.dropdown-menu-3 {
    display: none;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    background-color: white;
    padding: 20px;
    z-index: 500;
    width: 100vw;
    border: none;
    padding-top: 60px;
    padding-bottom: 58px;
}

.header__nav-item:hover,
.dropdown-menu-3 {
    box-shadow: 0px 400px 10000px rgba(0, 0, 0, 0.589);
}

.header__nav-item--dropdown:hover .dropdown-menu-3 {
    display: flex;
    text-align: left;
    justify-content: center;
    padding-right: 24px;
}

.dropdown-category-3 {
    padding-right: 320px;
}

.dropdown-menu-4 {
    display: none;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    background-color: white;
    padding: 20px;
    z-index: 500;
    width: 100vw;
    border: none;
    padding-top: 60px;
    padding-bottom: 88px;
}

.header__nav-item:hover,
.dropdown-menu-4 {
    box-shadow: 0px 400px 10000px rgba(0, 0, 0, 0.589);
}

.header__nav-item--dropdown:hover .dropdown-menu-4 {
    display: flex;
    text-align: left;
    justify-content: center;
    padding-left: 40px;
}

.dropdown-category-4 {
    padding-right: 232px;
}

.gg-2 {
    display: none;
}

.header-close {
    display: none;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    flex-direction: column;
    padding: 20px;
}

.mobile-menu.active {
    display: flex;
}

.close-menu {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    font-size: 29px;
}
.gg-1222 {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    font-size: 29px;
}

.header__logo-img {
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: currentColor;
}

.accordion-body-header {
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    .style-mobil-list {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 25.2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding-top: 16px;
        color: #404040;
    }
}
.accordion-item-header .accordion-button-header[aria-expanded="true"] {
    background-color: transparent !important;
    color:  #0C0C0C !important;
  }
  .accordion-button-header {
    box-shadow: none !important; 
  }
  .accordion-item-header {
    border: none;
}

