.Sustainability{
    background-image: url("../img/Sustainabilitybavovna.jpg");
   
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 1440px;
    height: 526px;
    top: 3727px;
}
.Sustainabilityh2{
    size:20px;
    width: 495px;
    left: 837px;
    top: 359px;
    height: 72px;
    color: #272F25;
}

