.container {
    width: 1224px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: currentColor;
}

.section1-nav-div {
    padding-top: 32px;
    padding-bottom: 48px;
    display: flex;

    a {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 32.4px;
        text-align: center;
        text-transform: capitalize;
        padding: 0 16px;

        &:first-child {
            padding-left: 0;
        }
    }

    p {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 32.4px;
        text-align: center;
        color: #606060;
        padding: 0 8px;
        margin: 0;
    }
}

.bread11 {
    color: #748C70;
}

.img-box-card1 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 150px;
    height: 512px;
    overflow-y: scroll;
    gap: 16px;
    padding-right: 16px;
}

.img-box-card1-div {
    display: flex;
    gap: 16px;
    padding-right: 20px;
}

.img-card-1-item {
    width: 427px;
    height: 512px;
}

.div-card1-box {
    display: flex;
}

.title-box-card1-div {

    h2 {
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 600;
        line-height: 44.8px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: black;
        text-transform: capitalize;
        padding-bottom: 32px;
    }
}

.title-box-card1-p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
    text-transform: capitalize;
}

.color-options {
    padding-bottom: 64px;

    p {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: black;
        padding-bottom: 12px;
        margin: 0;
    }
}

.circle-card1 {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.color1-card1 {
    background: #CA2929;
    margin-right: 8px;
}

.color2-card1 {
    background: #ffffff;
    border: solid 1px black;
}

.color-options-color {
    display: flex;
}

.size-guide {
    display: flex;
    justify-content: end;
}

.size-guide {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #868686;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 8px;
}

.accordion-button {
    border: solid 1px #dfdfdf;
    padding: 8px 0;
    padding-right: 20px;
    padding-left: 15px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
}

.accordion-button:focus {
    box-shadow: none;
    color: currentColor;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: currentColor;
}

.accordion-button::after {
    color: black;
}

.accordion-button:not(.collapsed)::after {
    color: black;
}

.size-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.size-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.accordion-body {
    padding: 0;
}

.accordion-header {
    padding: 0 !important;
    padding-bottom: 5px !important;
}

.button-add {
    background: #5A6D57;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    width: 100%;
    height: 40px;
    border: none;
}

.button-div-card1 {
    padding-top: 10px;
    padding-bottom: 24px;
}

.div-card1-box {
    padding-bottom: 32px;
}


.but::after {
    display: none;
}

.but::before {
    position: absolute;
    left: 1;
    right: 20px;
    content: '+';
    font-size: 25px;
    transition: transform 0.5s ease;
}


.box-div-card-last-down {
    display: flex;
    justify-content: space-between;
}

.box-div-card-last-down {
    display: flex;
    flex-wrap: wrap;
}

.but {
    background: #F0F2EF;
    padding: 24px 0;
    padding-left: 20px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.iteam-card-down {
    width: 590px;
    border: none;
}

.but[aria-expanded="true"] {
    background: #F0F2EF;
}

.but,
.body-card1-1 {
    background: #F0F2EF;
}

.accordion-header {
    padding: 0 !important;
    border: none;
}

.body-card1-1 {
    padding: 24px;
    border: 1px solid #CBCBCB;

    p {
        margin: 0;
        text-transform: capitalize;
    }
}

.favric {
    padding-bottom: 24px;
    color: #748C70;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.but-2::before {
    display: none;
}

.bef-buuton-card1 {
    padding-bottom: 24px;
}

.button-last-card1-1 {
    border: none;
    background-color: white;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: capitalize;
}

.button-last-card1-21 {
    width: 94px;
    margin-right: 12px;
}

.button-last-card1-22 {
    width: 189px;
    margin-right: 12px;
}

.button-last-card1-23 {
    width: 183px;
}




.product-div {
    display: flex;
    justify-content: space-between;
}

.product-card {
    padding-right: 20px;
    text-align: center;
    position: relative;

    &:last-child {
        padding-right: 0px;
    }
}

.p1-youmayal {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0C0C0C;
    text-align: start;
    justify-content: start;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 32px;
}

.last-section-card1 {
    padding-top: 33px;
}



.sellers-subtitle {

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;

    margin: 10px 0 5px;
}

.sellers-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;

}


.color-options {
    display: flex;
    gap: 8px;
    margin-top: 8px;

}

.color-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
}

.heart-icon-div {
    position: absolute;
    top: 20px;
    right: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 25px;
    border: none;
    border-radius: 10px;
    background-color: rgba(41, 0, 0, 0);
    cursor: pointer;
}

.svg-sbest-path {
    fill: white;
    transition: fill 0.1s ease-in;
    stroke: black;
    stroke-width: 2px;
    stroke-linejoin: round;
}

#heart-checkbox:checked+label .svg-sbest-path {
    fill: rgb(172, 57, 57);
}

#heart-checkbox-2:checked+label .svg-sbest-path {
    fill: rgb(172, 57, 57);
}



#heart-checkbox-3:checked+label .svg-sbest-path {
    fill: rgb(172, 57, 57);
}

.color-black {
    background-color: #0C0C0C;
}

.color-blue {
    background: #7DC3EB;
}

.color-green {
    background: #748C70;
}

.color-purple {
    background: #D0A5EA;

}

.color-olive {
    background: #909225;

}

.color-blue-dark {
    background: #19418E;
}

.color-beige {
    background-color: #D3B48F;
}
.color-orange {
    background: #CA6D29;
}
.img-produ-card {
    width: 387px;
}

.selers-div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
        margin: 0;
        color: #0C0C0C;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 22.4px;
        text-align: left;

    }

    p {
        margin: 0;
    }
}