.header__container {
    width: 1224px !important;
}

a {
    text-decoration: none;
    color: currentColor;
}

.container-1 {
    width: 1224px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-12 {
    width: 1240px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;

}

.bread11 {
    color: #748C70;
}

.section1-nav-div {
    padding-top: 32px;
    padding-bottom: 48px;
    display: flex;

    a {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 32.4px;
        text-align: center;
        text-transform: capitalize;
        padding: 0 16px;

        &:first-child {
            padding-left: 0;
        }
    }

    p {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 32.4px;
        text-align: center;
        color: #606060;
        padding: 0 8px;
        margin: 0;
    }
}

.sellers-subtitle {
    text-transform: capitalize;
}


.section1-backround {
    height: 655px;
    background-image: url('../../img/section1-backround.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}







.section-1-partfull {
    padding-top: 48px;
    padding-right: 24px;
}

.section1-part1-p {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    text-align: center;
    text-transform: capitalize;
    text-align: left;
}

.section1-part1-box {
    display: flex;
    flex-direction: column;
}

.section1-part1-item {
    display: flex;
    justify-content: space-between;
    background: #748C70;
    width: 392px;
    padding: 13px 16px;
    align-items: center;

    p {
        color: white;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 22.4px;
        text-align: left;
        margin: 0;
    }
}

.section1-part1-item-box {
    padding-bottom: 16px;
}

.svg-s1 {
    width: 14px;
    height: 14px;
    fill: white;
}




.section-2-partfull {
    padding: 48px 0;
    text-align: center;
}

.product-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card {
    text-align: center;
    position: relative;
    padding-bottom: 48px;
}


.sellers-subtitle {

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;

    margin: 10px 0 5px;
}

.sellers-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;

}


.color-options {
    display: flex;
    gap: 8px;
    margin-top: 8px;

}

.color-circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
}

.heart-icon-div {
    position: absolute;
    top: 20px;
    right: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 25px;
    border: none;
    border-radius: 10px;
    background-color: rgba(41, 0, 0, 0);
    cursor: pointer;
}

.svg-sbest-path {
    fill: white;
    transition: fill 0.1s ease-in;
    stroke: black;
    stroke-width: 2px;
    stroke-linejoin: round;
}

#heart-checkbox:checked+label .svg-sbest-path {
    fill: rgb(172, 57, 57);
}

#heart-checkbox-2:checked+label .svg-sbest-path {
    fill: rgb(172, 57, 57);
}

#heart-checkbox-3:checked+label .svg-sbest-path {
    fill: rgb(172, 57, 57);
}

#heart-checkbox-4:checked+label .svg-sbest-path {
    fill: rgb(172, 57, 57);
}

#heart-checkbox-5:checked+label .svg-sbest-path {
    fill: rgb(172, 57, 57);
}

#heart-checkbox-6:checked+label .svg-sbest-path {
    fill: rgb(172, 57, 57);
}

.color-black {
    background-color: #0C0C0C;
}

.color-blue {
    background: #7DC3EB;
}

.color-green {
    background: #748C70;
}

.color-purple {
    background: #D0A5EA;

}

.color-olive {
    background: #909225;

}

.color-orange {
    background: #CA6D29;

}

.color-blue-dark {
    background: #19418E;
}

.color-beige {
    background-color: #D3B48F;
}

.img-produ-card {
    width: 387px;
}

.selers-div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
        margin: 0;
        color: #0C0C0C;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 22.4px;
        text-align: left;

    }

    p {
        margin: 0;
    }
}


.buton-uu-s1 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #5A6D57;
    background-color: white;
    border: 1px solid #5A6D57;
    padding: 8px 54px;
}

.item-acor-1 {
    width: 392px;
    margin-bottom: 16px;
    border: none;
}

.header-of-cardinform1 {
    height: 48px;
    color: white;
    background: #748C70;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: capitalize;
    border-radius: 0 0 0 0;
}

.header-of-cardinform1::after {
    display: none;
}

.header-of-cardinform1::before {
    position: absolute;
    left: 1;
    right: 20px;
    content: '+';
    font-size: 25px;
    transition: transform 0.5s ease;
}

.header-of-cardinform1[aria-expanded="true"]::before {
    position: absolute;
    left: 1;
    right: 20px;
    content: '-';
    font-size: 30px;
    transition: transform 0.5s ease;
}

.accordion-button:not(.collapsed) {
    background-color: #ffffff;
    color: #748C70;
}

.item-acor-1[aria-expanded="true"] {
    border: solid 1px #748C70;
}

.header-of-cardinform1:focus {
    outline: none;
    box-shadow: none;
}

.filter-options {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

.checkbox-container {
    display: flex;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    align-items: center;

}

.checkbox-container input {
    display: none;
}

.custom-checkbox {
    width: 18px;
    height: 18px;
    border: 2px solid #748C70;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.checkbox-container input:checked+.custom-checkbox {
    background-color: #748C70;
}
.checkbox-container {
    align-items: center;
}
.color-circlee {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 6px;
}
.custom-checkbox {
    margin-right: 5px;
}
.color-red {
    background: #CA2929;
}

.color-purple {
    background: #D0A5EA;
}
.color-pink {
    background: #CA2980;
}
.color-light-blue {
    background: #7DC3EB;
}
.color-white {
    background-color: white;
    border: solid 1px black;
}
.item-acor-1 {
    border: solid 1px #748C70 !important;
    border-radius: 0 !important;
}
.header-of-cardinform1 {
    border-radius: 0 !important;
}