<section class="best-sellers">
    <div class="container">
        <div class="best-sellers-header">
            <h2 class="sellers-title">Best Sellers</h2>
            <a href="#" class="view-all">View All</a>
        </div>
        <div class="product-div">
            <div class="product-card">
                <span class="heart-icon">♡</span>
                <img src="img/woman-best1.jpg" class="model-images" alt="Tailored Stretch Pants">
                <h3 class="sellers-subtitle">Tailored Stretch</h3>
                <p class="sellers-text">Turn It Up Pants</p>
                
                <div class="color-options">
                    <div class="color-circle color-black"></div>
                    <div class="color-circle color-blue"></div>
                    <div class="color-circle color-green"></div>
                </div>
                <div class="price">$180</div>
            </div>
            <div class="product-card">
                <span class="heart-icon">♡</span>
                <img src="img/woman-best2.jpg" class="model-images" alt="Technical Silk Dress">
                <h3 class="sellers-subtitle">Technical Silk</h3>
                <p class="sellers-text">Make A Splash</p>
                <div class="color-options">
                    <div class="color-circle color-olive"></div>
                    <div class="color-circle color-blue"></div>
                    <div class="color-circle color-black"></div>
                </div>
                <div class="price">$120</div>
            </div>
            <div class="product-card">
                <span class="heart-icon">♡</span>
                <img src="img/woman-best3.jpg" class="model-images" alt="Cool Weave Dress">
                <h3 class="sellers-subtitle">Cool Weave</h3>
                <p class="sellers-text">Anywhere Dress</p>

                <div class="color-options">
                    <div class="color-circle color-purple"></div>
                    <div class="color-circle color-beige"></div>
                    <div class="color-circle color-green"></div>
                </div>
                <div class="price">$210</div>
            </div>
        </div>
    </div>

</section>