
  
  <section class="collection-section"> 
    <div class="container">
           <h2 class="title-collection">Collection</h2> 
    <div class="container text-center">
        <div class="row row-cols-2">
          <div class="col">
            <img src="img/pic2.png">
          </div>
          <div class="col">
            <img src="img/pic11.png">
          </div>
          <div class="col">
            <img src="img/pic12.png">
          </div>
          <div class="col">
            <img src="img/pic13.png">
          </div>
        </div>
      </div>
    </div>
 
  </section> 
 
