<section class="follow">
    <div class="follow_container">
        <div class="follow_div">
            <h2 class="follow_title">Follow us @modimal</h2>
        <div class="follow_grid">
            <img src="/img/large-image.png" alt="Fashionable outfit" class="follow_img">
            <img src="/img/small-image1.png" alt="Woman on a bike" class="follow_img">
            <img src="/img/small-image2.png" alt="Woman in a jacket" class="follow_img">
            <img src="/img/small-image3.png" alt="Woman in black outfit" class="follow_img">
            <img src="/img/small-image4.png" alt="Woman in nature" class="follow_img">
        </div>
        </div>
    </div>
</section>