<section class="follow">
    <div class="container">
        <div class="follow_div">
            <h2 class="follow_title">Follow us @modimal</h2>
        <section class="gallery">
            <div class="gallery-item item1"><img src="img/img1111.png" alt="Image 1"></div>
            <div class="gallery-item item2"><img src="img/small-image1.png" alt="Image 2"></div>
            <div class="gallery-item item3"><img src="img/small-image2.png" alt="Image 3"></div>
            <div class="gallery-item item4"><img src="img/small-image3.png" alt="Image 4"></div>
            <div class="gallery-item item5"><img src="img/small-image4.png" alt="Image 5"></div>
          </section>
        </div>
    </div>
</section>