<div class="notification-bar">
  <p class="notification-bar__text">Enjoy Free Shipping On All Orders</p>
</div>
<header class="header">
  <div class="header__container">
    <div class="header__logo-box">
      <a href="/src/index.html"><img class="header__logo-img" src="img/header_logo.png" alt="modimal"></a>
      <p class="header__logo-text">women clothing</p>
    </div>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__nav-item header__nav-item--dropdown">
          <a class="collect-a" href="/page-2.html"><span class="collect">Collection</span></a>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <div class="dropdown-category">
                <a href="#"><p class="caterw">Category</p></a>
                <a href="#">Shop All</a>
                <a href="#">Blouses & Tops</a>
                <a href="#">Pants</a>
                <a href="#">Dresses & Jumpsuits</a>
                <a href="#">Outerwear & Jackets</a>
                <a href="#">Pullovers</a>
                <a href="#">Tees</a>
                <a href="#">Shorts & Skirts</a>
              </div>
              <div class="dropdown-featured">
                <a href="#"><p class="caterw">Featured</p></a>
                <a href="#">New In</a>
                <a href="#">Modiweek</a>
                <a href="#">Plus Size</a>
                <a href="#">Best Seller</a>
              </div>
              <div class="dropdown-more">
                <a href="#"><p class="caterw">More</p></a>
                <a href="#">Bundles</a>
                <a href="#">Occasion Wear</a>
                <a href="#">Matching Set</a>
                <a href="#">Suiting</a>
              </div>
              <div class="dropdown-img1">
                <img src="img/dropdown-img1.png" alt="">
                <p>Blouses</p>
              </div>
              <div class="dropdown-img2">
                <img src="img/dropdown-img2.png" alt="">
                <p>Blouses</p>
              </div>
            </div>
          </div>
        </li>
        <li class="header__nav-item header__nav-item--dropdown">
          <span class="new-in">New In</span>
          <div class="dropdown-menu-2">
            <div class="dropdown-content">
              <div class="dropdown-category">
                <a href="#"><p class="caterw">Category</p></a>
                <a href="#">Shop All</a>
                <a href="#">Tops & Boluses</a>
                <a href="#">Tees</a>
                <a href="#">Pants</a>
                <a href="#">Jackets & Outwears</a>
                <a href="#">Pullovers</a>
                <a href="#">Dresses & Jumpsuits</a>
                <a href="#">Shorts & Skirts</a>
              </div>
              <div class="dropdown-featured dropdown-featured-2">
                <a href="#"><p class="caterw">Trending</p></a>
                <a href="#">Plus Size</a>
                <a href="#">Fall Collection</a>
                <a href="#">Modiweek</a>
              </div>
              <div class="dropdown-img1">
                <img src="img/1mheader.png" alt="">
                <p>Fall Collection</p>
              </div>
              <div class="dropdown-img2-2">
                <img src="img/2mheader.png" alt="">
                <p>Boluses</p>
              </div>
              <div class="dropdown-img3">
                <img src="img/3mheader.png" alt="">
                <p>Dresses</p>
              </div>
            </div>
          </div>
        </li>
        <li class="header__nav-item">Modiweek</li>
        <li class="header__nav-item header__nav-item--dropdown">
          <span class="plus-size">Plus Size</span>
          <div class="dropdown-menu-3">
            <div class="dropdown-content">
              <div class="dropdown-category dropdown-category-3">
                <a href="#"><p class="caterw">Category</p></a>
                <a href="#">Shop All</a>
                <a href="#">Tops & Boluses</a>
                <a href="#">Tees</a>
                <a href="#">Pants</a>
                <a href="#">Jackets & Outwears</a>
                <a href="#">Pullovers</a>
                <a href="#">Dresses & Jumpsuits</a>
                <a href="#">Shorts & Skirts</a>
              </div>
              <div class="dropdown-img1">
                <img src="img/1-img-hea1.png" alt="">
                <p>Pants</p>
              </div>
              <div class="dropdown-img2-2">
                <img src="img/1-img-hea2.png" alt="">
                <p>Dresses</p>
              </div>
              <div class="dropdown-img3">
                <img src="img/1-img-hea3.png" alt="">
                <p>Blouses</p>
              </div>
            </div>
          </div>
        </li>
        <li class="header__nav-item header__nav-item--dropdown">
          <span class="plus-size">Sustainability</span>
          <div class="dropdown-menu-4">
            <div class="dropdown-content">
              <div class="dropdown-category dropdown-category-4">
                <a href="#"><p class="caterw">Sustainability </p></a>
                <a href="#">Mission</a>
                <a href="#">Processing</a>
                <a href="#">Materials</a>
                <a href="#">Packaging</a>
                <a href="#">Product Care</a>
                <a href="#">Our Suppliers</a>
              </div>
              <div class="dropdown-img1">
                <img src="img/2-img-hea1.png" alt="">
              </div>
              <div class="dropdown-img2-2">
                <img src="img/2-img-hea2.png" alt="">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <div class="header__svg-box">
      <ul class="header__svg-list">
        <li class="header__svg-item">
          <svg class="search__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <path class="search__svg-path1" d="M22.676 20.009h-1.404l-0.498-0.48c1.742-2.027 2.791-4.658 2.791-7.52 0-6.382-5.173-11.556-11.556-11.556s-11.556 5.173-11.556 11.556c0 6.382 5.173 11.556 11.556 11.556 2.862 0 5.493-1.049 7.52-2.791l0.48 0.498v1.404l8.889 8.871 2.649-2.649-8.871-8.889zM12.009 20.009c-4.427 0-8-3.573-8-8s3.573-8 8-8c4.427 0 8 3.573 8 8s-3.573 8-8 8z"></path>
          </svg>                        
        </li>
        <li class="header__svg-item">
          <svg class="profile__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" width="28" height="32" viewBox="0 0 28 32">
            <path class="profile__svg-path1" d="M25.582 21.44c-2.987-1.529-6.862-2.773-11.36-2.773s-8.373 1.244-11.36 2.773c-1.778 0.907-2.862 2.738-2.862 4.729v4.942h28.444v-4.942c0-1.991-1.084-3.822-2.862-4.729zM24.889 27.556h-21.333v-1.387c0-0.676 0.356-1.28 0.924-1.564 2.116-1.084 5.529-2.382 9.742-2.382s7.627 1.298 9.742 2.382c0.569 0.284 0.924 0.889 0.924 1.564v1.387z"></path>
            <path class="profile__svg-path2" d="M14.222 16.889c3.929 0 7.111-3.182 7.111-7.111 0-2.436 0-6.222 0-6.222 0-1.476-1.191-2.667-2.667-2.667-0.924 0-1.742 0.48-2.222 1.191-0.48-0.711-1.298-1.191-2.222-1.191s-1.742 0.48-2.222 1.191c-0.48-0.711-1.298-1.191-2.222-1.191-1.476 0-2.667 1.191-2.667 2.667 0 0 0 3.769 0 6.222 0 3.929 3.182 7.111 7.111 7.111zM10.667 5.333h7.111v4.444c0 1.956-1.6 3.556-3.556 3.556s-3.556-1.6-3.556-3.556v-4.444z"></path>
          </svg>
        </li>
        <li class="header__svg-item">
          <svg class="heart__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <path class="heart__svg-path1" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="3.2" stroke="#000" fill="#000" d="M14.757 27.385l-0.002-0.002c-4.152-3.765-7.469-6.777-9.766-9.586-2.279-2.787-3.388-5.179-3.388-7.677 0-4.044 3.156-7.2 7.2-7.2 2.3 0 4.532 1.078 5.982 2.781l1.218 1.431 1.218-1.431c1.45-1.703 3.682-2.781 5.982-2.781 4.044 0 7.2 3.156 7.2 7.2 0 2.498-1.109 4.89-3.389 7.679-2.298 2.811-5.614 5.826-9.765 9.599-0.001 0.001-0.001 0.001-0.002 0.002l-1.24 1.12-1.247-1.135z"></path>
          </svg>            
        </li>
        <li class="header__svg-item">
          <svg class="package__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" width="26" height="32" viewBox="0 0 26 32">
            <path class="package__svg-path1" d="M22.4 6.4h-3.2c0-3.536-2.864-6.4-6.4-6.4s-6.4 2.864-6.4 6.4h-3.2c-1.76 0-3.2 1.44-3.2 3.2v19.2c0 1.76 1.44 3.2 3.2 3.2h19.2c1.76 0 3.2-1.44 3.2-3.2v-19.2c0-1.76-1.44-3.2-3.2-3.2zM12.8 3.2c1.76 0 3.2 1.44 3.2 3.2h-6.4c0-1.76 1.44-3.2 3.2-3.2zM22.4 28.8h-19.2v-19.2h3.2v3.2c0 0.88 0.72 1.6 1.6 1.6s1.6-0.72 1.6-1.6v-3.2h6.4v3.2c0 0.88 0.72 1.6 1.6 1.6s1.6-0.72 1.6-1.6v-3.2h3.2v19.2z"></path>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</header>
