<section class="section1">
    <div class="section1-backround">
        <div class="seaction1__container">
            <div class="seaction1__box">
                <h2 class="seaction1__title">
                    Elegance in simplicity,
                </h2>
                <h2 class="seaction1__title">
                    Earth’s harmony
                </h2>
            </div>
            <div class="seaction1__button-box">
                <button class="seaction1__button">New in</button>
            </div>
        </div> 
    </div>
</section>