.gallery-section {
   
  }
  
  .gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    padding-top: 48px;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    object-fit: contain;
  }
  
  .caption {
    margin-top: 10px;
    background-color: #4b5646; /* Темно-зелений колір */
    color: white;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .note {
    grid-column: span 2; /* Розтягується на обидві колонки */
    margin-top: 20px;
    font-size: 20px;
    color: #777;
    text-align: left;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .gallery-top, .gallery-botom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    
  }
